@charset "UTF-8";

@font-face {
    font-family: 'MBC1961GulimM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/MBC1961GulimM.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'BMJUA';
    background-color: #8f9eb5;
    margin: 0;
   /* display: flex;
    align-items: center;
    justify-content: center;*/
    height: 100vh;
}

.container {
	position:relative;
	top: 170px;
	width: 500px;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    padding: 8px;
    margin-top: 10px;
    border-radius: 10px;
}

button {
    padding: 10px;
    margin-top: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#startbtn{
	margin-bottom: 15px;
}
#okbtn{
	position:relative;
	bottom: 5px;
	margin-left:10px;
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

#typing_t{
	font-family: 'BMJUA';
	margin-bottom: 20px;
}

#result {
    display: none;
}

#timer{
	margin-top: 15px;
}


#audio-container {
    position: fixed;
    top: 10px; /* 조절 가능한 값 */
    right: 10px; /* 조절 가능한 값 */
    z-index: 1; /* Ensure the audio player is on top */
}

#timebtn button{
	margin-left:10px;
	margin-right:10px;
	}

#sentence{
	margin-top:15px;
}