@charset "UTF-8";

@font-face {
    font-family: 'MBC1961GulimM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/MBC1961GulimM.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
	
	font-family: 'BMJUA';
    /*background-color: #8f9eb5;*/
    /*background-image:url("back01.jpg");*/
    background: rgb(238,174,202);
	background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
   /* display: flex;
    align-items: center;
    justify-content: center;*/
    height: 100vh;
}

/* 기기 크기마다 다르게 반응형 배경 주기 */

/* 작은 화면에 대한 스타일 
@media only screen and (max-width: 600px) {
  body {
    background-image: url('back03.jpg');
  }
}

/* 중간 화면에 대한 스타일 
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  body {
    background-image: url('back02.jpg');
  }
}

/* 큰 화면에 대한 스타일 
@media only screen and (min-width: 1025px) {
  body {
    background-image: url('daniele-levis-pelusi-fh_PQtxDnLc-unsplash.jpg');
  }
}
*/

.container {
	/*position:relative;
	top: 170px;
	width: 500px;*/
    
    max-width: 500px; /* 최대 폭을 설정 */
    width: 100%; /* 컨테이너의 최대 폭에 맞추기 위해 100%로 설정 */
    
    height: auto; /* 내용에 따라 높이 조절 */
    
    text-align: center;
    padding: 20px;
    
    background-color: rgba(255, 255, 255, 0.4); /* 투명한 배경 */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px); /* 블러 효과 적용 */
    
    /*background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/

}

input {
    padding: 8px;
    margin-top: 10px;
    border-radius: 10px;
}

button {
    padding: 10px;
    margin-top: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#startbtn{
	margin-bottom: 15px;
}
#okBtn{
	position:relative;
	bottom: 5px;
	margin-left:10px;
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

#typing_t{
	font-family: 'BMJUA';
	margin-bottom: 20px;
}

#result {
    display: none;
}

#timer{
	margin-top: 15px;
}


#audio-container {
    position: fixed;
    top: 10px; /* 조절 가능한 값 */
    right: 10px; /* 조절 가능한 값 */
    z-index: 1; /* Ensure the audio player is on top */
}

#timebtn button{
	margin-left:10px;
	margin-right:10px;
	}

#sentence{
	margin-top:15px;
}

12/17

.animation span{
  position: relative;
  font-size: 30px;
  font-weight: 600;
}
  
.animation .ttt {
  margin-bottom : 15px;	
  margin-top : 15px;	
  display: inline-block;
  animation: animate 3s infinite;
}

@keyframes animate {
  0% {
    transform: rotateZ(-3deg);
  }
  50% {
    transform: rotateZ(3deg);
  }
  100% {
    transform: rotateZ(-3deg);
  }
}      